/* .car-hole {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.car-lists {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.car-title {
  display: flex;

}  */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lambo {
  width: 80%;
}

.card1 {
  width: 9rem;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
}

.card1 img {
  width: 175%;
  margin-left: -4.5rem;
  margin-top: -1rem;
  transition: all 0.5s;
}

.card1 img:hover {
  width: 200%;
  margin-left: -5.5rem;
  margin-top: -2rem;
  border: 1px solid #fd7e14;
}

.middle {
  margin-top: 3rem;
  display: grid;
  align-content: space-between;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
}

.main-line {
  width: 10%;
  border: none;
  border-top: 2px dotted rgb(238, 238, 238);
  margin: auto;
  margin-top: 2rem;
}

.small-line {
  width: 50%;
  border: none;
  border-top: 2px dotted rgb(238, 238, 238);
  margin: auto;
  margin-top: 2rem;
}

.main h1 {
  margin-top: 0;
  padding-top: 5rem;
  margin-bottom: 0;
}

.choose {
  color: rgb(167, 167, 167);
  font-weight: 600;
}

.model-name {
  margin-top: 1.2rem;
  font-size: 3rem;
  color: #fd7e14;
  font-weight: 700;
}

.car-info {
  margin-top: 0.8rem;
  color: rgb(167, 167, 167);
  margin-bottom: 0.8rem;
}

.logos-fonts {
  margin-top: 0;
  justify-content: center;
  display: flex;
  gap: 0.4rem;
}

.facebook {
  border-radius: 50%;
  border: 1px solid rgb(223, 223, 223);
  padding: 5px;
  font-size: 0.6rem;
  color: rgb(223, 223, 223);
}

.left {
  display: flex;
  justify-content: flex-start;
  height: 2.5rem;
}

.back-button {
  color: white;
  padding-left: 2rem;
  padding-right: 1rem;
  border: none;
  border-top-right-radius: 42%;
  border-bottom-right-radius: 42%;
}

.left :hover {
  background-color: #fd7e14;
}

.next-button {
  color: white;
  padding-left: 2rem;
  padding-right: 1rem;
  border: none;
  border-top-left-radius: 42%;
  border-bottom-left-radius: 42%;
}

.right {
  display: flex;
  justify-content: flex-end;
  height: 2.5rem;
}

.right :hover {
  background-color: #fd7e14;
}

.discover-text {
  font-size: 0.8rem;
}

.discover {
  font-size: 0.6rem;
}

.car-ul {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.link-to-details {
  text-decoration: none;
}

.second {
  animation-name: example2;
  animation-duration: 1s;
}

@keyframes example2 {
  0% {
    opacity: 0;
    transform: translateX(-300%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.first {
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  0% {
    opacity: 0;
    transform: translateX(300%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 750px) {
  .car-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
