* {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rent {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  margin-bottom: 20px;
  border: rgb(66, 107, 145) 2px solid;
  border-radius: 3%;
  background-color: rgba(209, 209, 209, 0.638);
}

.rent span {
  text-align: left;
  font-size: 14px;
  color: rgb(66, 107, 145);
}

.rent h3 {
  font-size: 30px;
  font-weight: 500;
}
