@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

nav {
  background-color: rgb(250, 248, 248);
  min-height: 100vh;
  width: 100%;
}

.tot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.navi {
  width: 250px;
}

.tit {
  list-style: none;
  display: flex;
  justify-content: center;
}

.titl {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #fd7e14;
  font-weight: 600;
  font-family: Fasthand, cursive;
}

.titl:hover {
  background-color: #fd7e14;
  color: #fff;
}

.titl a {
  font-size: 40px;
}

.container-flud {
  background-color: #fff;
}

.nav-item {  
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.nav-link {
  font-size: 20px;
  color: rgb(58, 56, 56);  
}

.list {
  list-style: none;
 }

.nav-link:hover {
  background-color: #fd7e14;
  color: #fff;
}

.navbar-brand {
  font-size: 25px;
}

.menu-bars {
  margin-top: 50px;
  font-size: 20px;  
  color: #fd7e14;
  border-radius: 10px;  
}

.log {
  margin-top: 30px;
}

.menu-bars:hover {
  background-color: #fd7e14;
  color: #fff;
}
