nav {
    height: 100vh;
    width: 18%;
    background-color: rgb(250, 243, 243);
  }
  
  .navi {
    width: 250px;
  }
  
  .tit {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .titl {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #f0c508;
  }
  
  .container-flud {
    background-color: #fff;
  }
  
  .list {
    list-style: none;
    margin-top: 10%;
    width: 100%;    
  }
  
  .nav-link {
    font-size: 20px;
  }
  
  .nav-link:hover {
    background-color: #97bf0f;
  }
  
  .navbar-brand {
    font-size: 25px;
  }

  a {
    text-decoration: none;
  }
  
  @media screen and (max-width: 912px) {
    nav {
      height: 22vh;
      position: fixed;
      top: 0;
      width: 90%;
    }
  
    .list {
      height: 60px;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: flex-start;
    }
  }