.nav-con {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.nav-dir {
  display: flex;
}

.nav-wholer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-dir {
    width: 100%;
  }

  .nav-wholer {
    min-height: 50%;
  }
}
